
  
  .bg{
    background-color:#ffffff;
  }
  
  .logo{
    margin-left: 20px;
    height:50px ;
    width: 50px;
    border-radius: 100%;
  }
  .nav{
    background-color: #EFF0F3;
    padding: 10px;
  }
  .navtext{
    margin-left: 20px;
margin-right: 20px;   
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    background: -webkit-linear-gradient(rgb(129, 0, 123), rgb(58, 10, 170));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  }
  .navtext:hover{
    font-size: 19px;
    color: #797979;
  }
  .course-logo{
    height: 100px;
    width: 100px;
    
    border-radius: 100%;
  }
.homebg{
  box-shadow:0px 2px 6px 2px rgb(129, 129, 129);
  background-color: white;
  border-style: none;
  border-radius: 25px;
}
.card{
  height:500px;
}
 .nn{
  
 }
 .quote{
   font-size: 40px;
   color:rgb(0, 0, 0);
 
   
text-align: center;
  
   font-weight: bold;
      font-family:" Brush Script MT, Brush Script Std, cursive	";
 }
 .quotebg{
   background-color: white;
   
   
 }
 .cc{
   padding-top: 40px;
   text-align: center;
  
   font-weight:500px ;
   background: -webkit-linear-gradient(rgb(129, 0, 123), rgb(58, 10, 170));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

 }
 .ch{
   margin-top: 30px;
   margin-bottom: 10px;
   background: -webkit-linear-gradient(rgb(129, 0, 123), rgb(58, 10, 170));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 
 }
 .topbg{
  
 }
 .footer{
   background-color: blueviolet;
 }
 .btn{
   color: white;
   background-color: blueviolet;
 }
.tx{
  text-decoration: none;
  color:#797979;
}
.tx:hover{
  color: black;
}